<header class="container px-5 my-2">
  <div class="row align-items-center">
    <div class="col-auto">
      <img src="../assets/images/tom_nook.png" alt="Amiibo" width="70px">
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h2>Les amiibos</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Patante à gosse ou gadget amusant ?
        </div>
      </div>
    </div>
  </div>
</header>

<main class="container p-4">

  <!-- Section Accueil -->

<app-accueil></app-accueil>
  <hr>

  <!-- Section Informations -->
<app-information></app-information>

</main>

<footer class="container px-5 my-2 text-center">
  <div class="row copy">
    <div class="col align-self-center">
      Examen formatif 1 - 4204W6<br>
      Amiibo &copy; Tous droits réservés à Nintendo
    </div>
  </div>
</footer>
